{% extends 'upload/base.html' %}
{% block content %}
<div class="content-container">
    <h2>Керувати предметами</h2>
    <div class="text-end mb-3">
        <a href="{% url 'upload:teacher_subject_create' %}" class="btn btn-primary">Create Subject</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Назва</th>
                <th>Опис</th>
                <th>Завдання</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            <tr>
                <td>{{ subject.name }}</td>
                <td>{{ subject.description|linebreaks }}</td>
                <td>
                    <a href="{% url 'upload:teacher_assignment_list' pk=subject.pk %}" class="btn btn-sm btn-secondary">
                        Manage Assignments
                    </a>
                </td>
                <td>
                    <a href="{% url 'upload:teacher_subject_delete' pk=subject.pk %}" class="btn btn-sm btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No subjects found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}