<!-- upload/templates/upload/grades_overview.html -->
{% extends 'upload/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-container">
    <h2>Огляд усіх предметів</h2>
    <p class="mb-4">Нижче наведено зведення ваших завдань з усіх предметів.</p>

    {% for subject_info in subject_data %}
        <h3>{{ subject_info.subject.name }}</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Assignment</th>
                    <th>Термін</th>
                    <th>Максимальна кількість балів</th>
                    <th>Ваша оцінка</th>
                </tr>
            </thead>
            <tbody>
                {% for row in subject_info.assignments %}
                <tr>
                    <td>{{ row.assignment.name }}</td>
                    <td>{{ row.deadline }}</td>
                    <td>{{ row.max_points }}</td>
                    <td>{{ row.user_grade }}</td>
                </tr>
                {% endfor %}
                <tr class="table-secondary">
                    <td colspan="2"><strong>Всього:</strong></td>
                    <td><strong>{{ subject_info.subject_max }}</strong></td>
                    <td><strong>{{ subject_info.subject_user }}</strong></td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
</div>
{% endblock %}
