<!-- upload/templates/upload/upload_test_file.html -->

{% extends 'upload/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-container">
    <a href="{% url 'upload:assignment_detail' subject_name=assignment.subject.name assignment_id=assignment.id %}" class="btn btn-secondary mb-4">
        &larr; Назад
    </a>

    <h2>Завантажити тестовий файл для {{ assignment.name }}</h2>
    <p><strong>Предмет:</strong> {{ subject_abbr }}</p>
    <p><strong>Завдання:</strong> {{ assignment.name }}</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Завантажити тестовий файл</button>
    </form>
</div>
{% endblock %}
